/* Base logo styles */
header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
  height: 80px;
  /* Added height to header to match logo container */
}

.logos-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.buttons-wrapper {
  display: flex;
  gap: 32px;
  margin-left: auto;
  margin-right: 20px;
}

.logo-dacity {
  width: 50px;
  height: auto;
}

.logo-ujat {
  width: 80px;
  height: auto;
}

.woman-silhouette {
  width: 50px;
  height: auto;
  filter: brightness(0) invert(1);
  /* Convierte la imagen a blanco */
}

.woman-silhouette img {
  width: 100%;
  max-height: 60px;
  object-fit: contain;
}

.logo-dev {
  width: 50px;
  height: auto;
}

.logo {
  display: flex;
  gap: 15px;
  align-items: center;
  height: 80px;
  /* Match header height */
}

.logo img {
  max-height: 60px;
  object-fit: contain;
}

@media (max-width: 768px) {
  .logo-dacity {
    width: 50px;
    height: auto;
  }

  .logodacity-ujat {
    width: 50px;
    height: auto;
  }

  .woman-silhouette {
    width: 50px;
    height: auto;
  }

  .woman-silhouette img {
    width: 100%;
    max-height: 60px;
    object-fit: contain;
  }

  .logo-dev {
    width: 50px;
    height: auto;
  }
}