---
import "../../styles/base/variables.css";
import "../../styles/base/reset.css";
import "../../styles/layouts/layout.css";
import "../../styles/components/buttons.css";
import "../../styles/components/form.css";
import "../../styles/base/animations.css";
import "../../styles/components/logos.css";
import "../../styles/components/mobile-menu.css";
import "../../styles/pages/ponente/datos.css";
import "../../styles/pages/main.css";
---

<header class="header">
    <div class="logos-container">
        <img
            src="/Logos UJAT/Logos UJAT/Logo 1 blanco.png"
            alt="Logo-ujat"
            class="logo-ujat"
        />
        <img
            src="/logo-dacity/logo-negro_bordes_blancos-sinFondo.png"
            alt="Logo-dacity"
            class="logo-dacity"
        />
        <img
            src="/logo_mujeres/logo_mueres_blanco.png"
            alt="Logo-mujeres"
            class="woman-silhouette"
        />
        <img src="/icon-logo.png" alt="Logo-dev" class="logo-dev" />
    </div>
    <div class="header-buttons">
        <slot name="ponencia">
            <!-- <button class="header-btn" id="ponencia-btn" title="Mi Ponencia">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff">
                    <path d="M320-240h320v-80H320v80Zm0-160h320v-80H320v80ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z" />
                </svg>
                <span>Mi Ponencia</span>
            </button> -->
        </slot>
        <button class="header-btn" id="logout-btn" title="Cerrar Sesión">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#ffffff"
            >
                <path
                    d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"
                ></path>
            </svg>
            <span>Cerrar Sesión</span>
        </button>
    </div>
    <script src="../../components/ponente/registroPonencia.ts"></script>
</header>
