---
import "../../styles/components/logos.css";
---

<header>
	<div class="logo">
		<img
			src="/Logos UJAT/Logos UJAT/Logo 1 blanco.png"
			alt="Logo-ujat"
			class="logo-ujat"
		/>
		<img
			src="/logo-dacity/logo-negro_bordes_blancos-sinFondo.png"
			alt="Logo-dacity"
			class="logo-dacity"
		/>
		<img
			src="/logo_mujeres/logo_mueres_blanco.png"
			alt="Logo-mujeres"
			class="woman-silhouette"
		/>
		<img src="/icon-logo.png" alt="Logo-dev" class="logo-dev" />
	</div>
</header>
