---
import '../../styles/salasModStyles.css';
import HeaderLayout from "../../components/shared/headerLayout.astro";
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Ponencias</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="/favicon/favicon_io/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon_io/favicon-16x16.png">
</head>

<HeaderLayout>
</HeaderLayout>

<body>
<div class="main-container">
    <HeaderLayout>

    </HeaderLayout>
                <i class="fas fa-search search-icon"></i>
            </div>
        </div>
            <div class="table-body" id="tableBody">
                <!-- Las filas se generarán dinámicamente con JavaScript -->
            </div>
        </div>
</div>
</html>