---
import '../styles/stylesPassword.css';
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <title>Panel de Administración</title>
    <!-- Favicon básico -->
    <link rel="icon" type="image/x-icon" href="/favicon/favicon_io/favicon.ico">
    <!-- Para diferentes tamaños de favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon_io/favicon-16x16.png">
</head>
<header>
    <div class="logo">
		<img src="/Logos UJAT/Logos UJAT/Logo 1 blanco.png" alt="Logo-ujat" class="logo-ujat">
		<img src="/logo-dacity/logo-negro_bordes_blancos-sinFondo.png" alt="Logo-dacity" class="logo-dacity" />
		<img src="/logo_mujeres/logo_mueres_blanco.png" alt="Logo-mujeres" class="woman-silhouette" />
		<img src="/icon-logo.png" alt="Logo-dev" class="logo-dev" />
    </div>
</header>
<body>
    <div class="container">
        <div class="login-card">
            <h2>Recuperar Contraseña</h2>
            <p class="subtitle">Ingresa tu correo electrónico para recibir un enlace de recuperación.</p>

            <form id="resetPasswordForm">
                <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <input type="email" id="email" required>
                </div>

                <button type="submit" class="login-btn">Enviar enlace de recuperación</button>
            </form>

            <p class="signup-text">
                <a href="/autenticacion/iniciarSesion">Volver a inicio de sesión</a>
            </p>
            <p class="copyright">© 2025 XDevLab</p>
        </div>
    </div>

    <script src="../../components/auth/resetPassword.ts"></script>
</body>
</html>